* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: black;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 80%;
    margin: auto;
}
a:hover{
    text-decoration: none;
}
.header-destock{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.categorias-destock a{
    padding: 5px;
    color: black;
}
.categorias-destock a:hover{
    border-bottom: 1px solid black;
}
.cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    margin-bottom: 15px;
    font-weight: 700;
}
.cuerpo form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.tamaniobtn{
    width: 85px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 2px);
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1.5em;
    background: #fff;
    resize: none;
    outline: none;
  }
  input[type="text"][required]:focus,
  input[type="password"][required]:focus {
    border-color: #9C27B0;
  }
  input[type="text"][required]:focus + label[placeholder]:before,
  input[type="password"][required]:focus + label[placeholder]:before {
    color: #9C27B0;
  }
  input[type="text"][required]:focus + label[placeholder]:before,
  input[type="text"][required]:valid + label[placeholder]:before,
  input[type="password"][required]:focus + label[placeholder]:before,
  input[type="password"][required]:valid + label[placeholder]:before {
    transition-duration: 0.2s;
    -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
            transform: translate(0, -1.5em) scale(0.9, 0.9);
  }
  input[type="text"][required]:invalid + label[placeholder][alt]:before,
  input[type="password"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
  }
  input[type="text"][required] + label[placeholder],
  input[type="password"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
  }
  input[type="text"][required] + label[placeholder]:before,
  input[type="password"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
  }